 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Over</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>IDTwo heeft als doel om bedrijven te adviseren en ondersteunen op het gebied van informatiebeveiliging in het algemeen en Identity & Access Management in het bijzonder.</p>
                </div>
                <div class="col-lg-4">
                    <p>Met ruim 10 jaar ervaring op dit gebied denk ik graag mee over de identiteits- en beveiligings-vraagstukken.</p>
                </div>
            </div>
        </div>
    </section>
